





/////////// Typography   colors ///////////

$primary-theme-color: #58e1c1;
$secondary-theme-color: #777;
$border-left-theme-color: #58e1c1;
$link-hover-color:#fff;



/////////// Grid System  colors ///////////

$theme-col-1: #927bc1;
$theme-col-2: #fd7856;
$theme-col-3: #deb2ee;
$theme-col-4: #7ee6fd;
$theme-col-5: #88d9a0;
$theme-col-6: #4da2bb;
$theme-col-7: #ec9fa3;
$theme-col-8: #fd9f85;
$theme-col-9: #e4757a;
$theme-col-10:#63cc82;
$theme-col-11:#51ddfc;
$theme-col-12:#80e8d1;

/////////// Buttons colors ///////////

$background-default: #51ddfc;
$background-error: #e4757a;
$background-info: #927bc1;
$background-success: #63cc82;
$background-warning: #fd7856;


/////////// size ///////////

$view-s: 768px;
