  
  /* ============================================= */
  /*              Buttons                          */
  /* ============================================= */

.btn {
    margin-top: 15px;
    width: 100%;
    color: $link-hover-color;
    border: none;
    padding: 10px 0;
    text-transform: uppercase;
    border-radius: 5px;
  }
  
  .default {
    background-color: $background-default;
  }
  
  .error {
    background-color: $background-error;
  }
  
  .info {
    background-color: $background-info;
  }
  
  .success {
    background-color: $background-success;
  }
  
  .warning {
    background-color: $background-warning;
  }